#app {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.el-header {
  background-color: $bg-header;
  color: $font-header;
  @include flex($align: center);
  .title {
    font-size: 18px;
  }
}

.el-main {
  background-color: $bg-main;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;

  .main {
    height: 100%;
    width: 100%;
  }
}

.template-box {
  padding: 10px 20px;

  .header {
    padding: 5px;
    border-bottom: 1px solid #000;
    font-size: 16px;

    .add {
      float: right;
      font-size: 20px;
      color: #409eff;
      cursor: pointer;
    }
  }

  .template-list {
    padding: 5px;
    color: #000;
  }

  .item {
    line-height: 35px;
    cursor: pointer;
    color: #545c64;
    font-size: 14px;

    &.active {
      color: #409eff;
    }

    &:hover {
      color: #409eff;
    }

    a {
      text-decoration: none;
      color: #545c64;
      font-size: 14px;

      &:hover {
        color: #409eff;
      }
    }
  }
}

.btn-save {
  position: absolute;
  top: 70px;
  right: 220px;
  z-index: 999999;
}

.btn-save-img {
  position: absolute;
  top: 70px;
  right: 320px;
  z-index: 999999;
}

.workplace {
  .chart-dot {
    opacity: 0;
  }

  .chart-dot-hover {
    opacity: 1;

    circle {
      fill: #00adfe;
    }
  }
}
