* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  font-size: 14px;
  color: #000;
}

* {
  scrollbar-face-color: rgba(22, 39, 67, 0.3);
  /*面子*/
  scrollbar-arrow-color: #00adfe;
  /*箭头*/
  scrollbar-3dlight-color: #C0C0C0;
  /*最外左*/
  scrollbar-highlight-color: #FFFFFF;
  /*左二*/
  scrollbar-shadow-color: #FFFFFF;
  /*右二*/
  scrollbar-darkshadow-color: #C0C0C0;
  /*右一*/
  scrollbar-track-color: rgba(22, 39, 67, 0.3);
  /*滑道*/
}

/*滚动条整体*/

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /*滚动条宽度*/
}

::-webkit-scrollbar-track {
  background-color: rgba(22, 39, 67, 0.3);
  /*滑道全部*/
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(22, 39, 67, 0.3);
  /*滑道*/
  -webkit-border-radius: 4px;
  /*滑道圆角宽度*/
}

::-webkit-scrollbar-thumb {
  background-color: #00adfe;
  /*滑动条表面*/
  border: solid 1px rgba(255, 255, 255, 0.2);
  /*滑动条边框*/
  border-radius: 4px;
  /*滑动条圆角宽度*/
}

/*横竖滚动条交角*/
::-webkit-scrollbar-corner {
  background-color: rgba(22, 39, 67, 0.3);
}

/*横竖滚动条交角图案*/
::-webkit-resizer {
  /*background-image: url(/public/img/resizer-inactive.png);*/
  background-repeat: no-repeat;
  background-position: bottom right;
}

/*鼠标滑过滑动条*/
::-webkit-scrollbar-thumb:hover {
  background-color: #00adfe;
}

/*滚动条的重写end*/

/*添加滚动条start*/

textarea {
  overflow-y: auto;
}

/*添加滚动条end*/

#app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.el-header,
.el-footer {
  background-color: #545c64;
  color: #333;
}

.el-aside {
  background-color: #D3DCE6;
  color: #333;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;

  .main {
    height: 100%;
    width: 100%;
  }
}

.template-box {
  padding: 10px 20px;

  .header {
    padding: 5px;
    border-bottom: 1px solid #000;
    font-size: 16px;

    .add {
      float: right;
      font-size: 20px;
      color: #409EFF;
      cursor: pointer;
    }
  }

  .template-list {
    padding: 5px;
    color: #000;
  }

  .item {
    line-height: 35px;
    cursor: pointer;
    color: #545c64;
    font-size: 14px;

    &.active {
      color: #409EFF;
    }

    &:hover {
      color: #409EFF;
    }

    a {
      text-decoration: none;
      color: #545c64;
      font-size: 14px;

      &:hover {
        color: #409EFF;
      }
    }
  }
}

.btn-save {
  position: absolute;
  top: 70px;
  right: 220px;
  z-index: 999999;
}

.btn-save-img {
  position: absolute;
  top: 70px;
  right: 320px;
  z-index: 999999;
}

.workplace {
  .chart-dot {
    opacity: 0;
  }

  .chart-dot-hover {
    opacity: 1;

    circle {
      fill: #00adfe;
    }
  }
}
