$black: #000;
$black-light: #333;
$white: #fff;
$white-light: #f0f2f5;
$white-light2: #ddd;
$blue: #1890ff;
$blue-light: #e6f7ff;

$font: $black-light;
$font-title: $black;

$font-header: $white;
$bg-header: $black;
$bg-main: $white-light;

$border: $white-light2;
